################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/CatalogoRopaUI
/CatalogoRopaUI/bin/Debug/net8.0
/CatalogoRopaUI/obj
/CatalogoRopaUI/wwwroot
